* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Inter", serif;
    background-color: #E5E7EB;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Permanent Marker", serif;
    padding: 0.8em;
}

h3 {
    color: #5E5D5D;
    text-align: end;
}

p {
    font-size: 0.6rem;
    color: gray;
    text-align: start;
}

.badges {
    display: grid;
    grid-template-rows: repeat(1, 1fr); 
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 1em 2.6em;
    margin-top: 0.2em;
    width: 67px;
    height: 24px;
}

.gray {
    color: #1F2937;
    background-color: #F3F4F6;
}

.red {
    color: #991B1B;
    background-color: #FEE2E2;
}

.yellow {
    color: #92400E;
    background-color: #FEF3C7;
}

.green {
    color: #065F46;
    background-color: #D1FAE5;
}

.blue {
    color: #1E40AF;
    background-color: #DBEAFE ;
}

.indigo {
    color: #3730A3;
    background-color: #E0E7FF;
}

.purple {
    color: #5B21B6;
    background-color: #EDE9FE;
}

.pink {
    color: #9D174D;
    background-color: #FCE7F3;
}